.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    text-indent: 25px;
}
input {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
}
input:focus {
    outline: 2px solid #CF563D;
}
button {
    border-radius: 10px;
    background-color: #CF563D;
    padding: 10px;
    width: 20%;
    color: white;
    margin-bottom: 10px;
    margin-right: 100px;
    border: none;
    cursor: pointer;
}
.discard{
    position: relative;
    left: calc(25%);
    top: -46px;
}
.discard button {
    background-color: black;
    cursor: pointer;
}
.error{
    width: 100%;
    color: #CF563D;
    text-align: left;
    text-indent: 18px;
    font-size: 12px;
    margin-bottom: 10px;
}

.popup-message {
    position: fixed;
    bottom: calc(50%);
    right: 200px;
    width: 150px;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    animation: slide-right 0.5s ease-in-out;
}
@keyframes slide-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}