<div class="topnav">
    <div class="left-section">
        <a [routerLink]="'/home'"><div class="logo">
            <img src="../../assets/Logo.png" alt="Logo">
        </div></a>
        <a>Resources</a>
        <a>For Reader</a>
        <a>Publishing House</a>
        <a>For Researcher</a>
        <a>Contacts</a>    
    </div>
    <div *ngIf="isLoggedIn()" class="right-section">
        <div class="cart-icon">
            <a [routerLink]="'/cart'"><i class="fa-solid fa-cart-shopping"></i>
                <div class="badge" *ngIf="(cart.cartItems$ | async)?.length!==0">{{ (cart.cartItems$ | async)?.length }}</div>
            </a>        
        </div>
        <a [routerLink]="'/user'">
        <div class="user-container">
            <div class="user-icon">
                <span class="circle">{{ getUsernameFirstLetter() }}</span>
            </div>
            <span class="username">{{ user?.username }}</span>
        </div></a>
    </div>
    <button *ngIf="!isLoggedIn()">Login</button>
</div> 