.container{
    position: fixed;
    margin-top: auto;
    justify-content: top;
    top: 60%;
    left: 50%;
    height: auto;
    width: 530 px;
    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.prompt-overlay{
  position: overlay;
  width: 470px;

}

form {
  width: 470px;
  font-size: 14px;
  align-items: center;
}

.custom-form-field {

  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 470px;
  margin-bottom: 5px;
}

/* Adjust the CSS for the error messages */
.error {
  width: 100%;
  color: #CF563D;
  text-align: left;
  text-indent: 18px;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Adjust the CSS for the submit button */
.button {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Add some spacing to the link "Go to Register" */
h1 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

button {
  border-radius: 10px;
  background-color: #CF563D;
  padding: 10px;
  width: 90%;
  color: white;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

input {
  margin-top: 10px;
  width: 90%;
  margin-left: 10px;
  height: 56px;
  font-size: 12px;
  text-indent: 10px;
  padding: 15px, 16px;
  border: 0.5px solid #D3D3D3;
  border-radius: 50px;
  background-color: white;
  color: black;
  margin-bottom: 10px;
}
input::placeholder{
  color: #D3D3D3;
}
input:focus{
  outline: 2px solid #CF563D;
}
.img-1{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.img-1 img{
  user-select: none; /* Disable text selection */
  pointer-events: none; /* Disable pointer events on the image */
  height: 100%;
  width: auto;
  position: absolute;
  bottom: -80px;
  left: -150px;
}
.img-2{
  position: relative;
  width: 700px;
  height: auto;
  overflow: hidden;
}
.img-2 img{
  user-select: none; /* Disable text selection */
  pointer-events: none; /* Disable pointer events on the image */
  max-height: 100%;
  min-height: 80%;
  width: auto;
  position: absolute;
  top: 30px;
  right: 0px;
}